/* body {
  background: linear-gradient(90deg, #65679A 0%, #525CE6 99.98%);
} */

body {
  background: url(../css/img.svg) no-repeat center; 
  height: 100vh;
  background-size: cover;
  text-align: center;
}

h1{
  color: #fff;
}

.h2 {
  color: #fff;
}

.img-icon {
  width: 527px;
  height: 164px;
  margin-top: 80px;
}

.some_no_desktop {
  display: none;
}

.colorFormulario {
  color: #fff;
}

@media (max-width: 767px) {

  .fomulario{
    margin-top: 100px;
  }

  .colorFormulario {
    color: #65679a;
    font-weight: bold;
  }

  .bg-intro {
    background-color: #65679a;
    height: 150px;
  }

  .img-icon {
        width: 150px;
        height: 50px;
        margin-top: 50px;
  }

  .some_no_moblie{
    display: none;
  }

  .responsivel-img { 
        background: url(../img/bg-01.jpg) no-repeat center;
        width: 100%;
        height: 500px;
        background-size: cover;
  }

  .padding-0{
    padding-right:0;
    padding-left:0;
}

  body {
    padding-top: 0px;
    background: none;
  }

  .fixed-top {
    position: relative;
  }

  .h2 {
    margin-top: 5em;
    margin-bottom: 2em;
    color: #65679a;
    font-size: 1.5em;
  }
}