/* body {
  background: linear-gradient(90deg, #65679A 0%, #525CE6 99.98%);
} */

body {
  background: url(../css/img.svg) no-repeat center;
  height: 100vh;
  background-size: cover;
  text-align: center;
}

.img-icon {
  width: 527px;
  height: 164px;
  margin-top: 80px;
}

.some_no_desktop {
  display: none;
}

.colorFormulario {
  color: #fff;
}

@media (max-width: 767px) {

  .some_no_desktop {
    display: block;
  }

  .fomulario {
    margin-top: 30px;
  }

  .colorFormulario {
    color: #65679a;
    font-weight: bold;
  }

  .bg-intro {
    background-color: #65679a;
    height: 150px;
  }

  .img-icon {
    width: 150px;
    height: 50px;
    margin-top: 50px;
  }

  .some_no_moblie {
    display: none;
  }

  .aparece {
    width: 150px;
    height: 50px;
    margin-top: 50px;
  }

  body {
    padding-top: 0px;
    background: none;
  }

  .fixed-top {
    position: relative;
  }
  
   .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
