/* body {
  background: linear-gradient(90deg, #65679A 0%, #525CE6 99.98%);
} */

body {
  background: url(../css/img.svg) no-repeat center; 
  height: 100vh;
  background-size: cover;
}

.img-icon {
  width: 527px;
  height: 164px;
  margin-top: 80px;
}